<a href="https://colab.research.google.com/github/lililillilill/aiPython/blob/main/20240405_201806160%EB%AC%B8%EC%A4%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=10
if a>5 :
  print("A는 5보다 크다")
print("프로그램종료")

A는 5보다 크다
프로그램종료

In [8]:
a = 5
if a>5 :
  print("A는 5보다큽니다")
elif a<=5:
  print("A는 5보다 작거나 같습니다")

A는 5보다 작거나 같습니다

In [14]:
# A의 할당된 값의 짝수 홀수 여부를 알려주는 프로그램
a = 5
if a/2 == 0:
  print("a는 짝수입니다")
else:
  print("a는 홀수입니다")

a는 홀수입니다

In [18]:
a =10
if a<5 :
  print("A는 5보디 작습니다")
elif a>5:
  print("A는 5보다 큽니다")
else:
  print("A는 5입니다")

A는 5보다 큽니다

In [26]:
a=10
b=5
if a>5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작습니다")

a는 5보다 크고 b는 10보다 작습니다

In [29]:
a=10
b=5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작습니다")

a는 5보다 크고 b는 10보다 작습니다

In [72]:
score =55
if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
elif score>=60:
  print("D")
else:
  print("F")

F

In [77]:
a = [1,2,3,4,5]
for i in a:
  print(i,end="")

12345

In [82]:
a = [1,2,3,4,5,6,7,8,9,10]
tot = 0
for i in a:
  print(i)
  tot+=i
print(tot)

1
2
3
4
5
6
7
8
9
10
55

In [85]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [87]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [92]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [95]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [97]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [104]:
for i in range(1,101):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [113]:
for i in range(5):
  if i%2==1:
    break
  print(i)

0

In [123]:
짝수합=0
홀수합=0
for i in range(1,11):
  if i%2 == 0:
    짝수합+=i
  else:
    홀수합+=i
print(짝수합)
print(홀수합)

30
25

In [131]:
A = 5
B = 3
if A > B:
  print(">")
elif A<B:
  print("<")
else:
	print("==")

>

In [136]:
#n 값을 입력
#1부터 n까지 반복
  #합을 계산
#값을 출력
n=int(input())
tot=0
for i in range(1,n+1):
  tot+=n
print(tot)

50
2500