<a href="https://colab.research.google.com/github/lililillilill/aiPython/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np

In [8]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [10]:
data=[[1,'Alice'],[2,'Bob'],[3, 'Charlie']]
df =pd.DataFrame(data, columns=['ID','Name'])

In [11]:
df.shape

(3, 2)

In [12]:
df2=pd.read_csv('data.csv')

In [13]:
print(df2)

   name   age   score
0   Kim    27      92
1   Lee    33      98
2  Park    19      87

In [14]:
url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df4 = pd.read_csv(url, delimiter='\t')

In [15]:
print(df4)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

In [16]:
df5 = pd.read_excel('data1.xlsx')

In [17]:
print(df5)

  name  kor  math
0  감하나   90    89
1  이정희   78    75
2  최선영   83    64
3  박영준   78    95
4  송정민   89   100

In [18]:
df6=pd.read_excel('data1.xlsx',sheet_name=0,index_col=0)

In [19]:
df6

      kor  math
name
감하나    90    89
이정희    78    75
최선영    83    64
박영준    78    95
송정민    89   100

In [20]:
df7=pd.read_excel('data.xlsx')

In [21]:
df7['반']

0    A반
1    B반
2    A반
3    B반
4    A반
5    A반
6    B반
7    B반
8    A반
9    B반
Name: 반, dtype: object

In [22]:
df반이름 = df7[['반', '이름']]

In [23]:
# 예제 데이터프레임 생성
df8 = pd.DataFrame({
'A': [1, 2, 3, 4, 5],
'B': [6, 7, 8, 9, 10]
})
# 'A' 열에서 값이 3보다 큰지 확인
condition_result = df8['A'] > 3
# 출력
print(condition_result)

0    False
1    False
2    False
3     True
4     True
Name: A, dtype: bool

In [24]:
국어점수 = df7['국어'] >= 80

In [25]:
print(국어점수)

0     True
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9     True
Name: 국어, dtype: bool

In [26]:
res = df7[(df7['국어']>= 80)]

In [27]:
print(res)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [31]:
df7 = df7.sort_values(by=['국어'], ascending=False)

In [33]:
dfs = pd.DataFrame({'학생': ['John', 'Alice', 'Bob', 'Emily'],
                   '수학': [90., 87., 78., 92.],
                   '영어': [85, 91, 80, 88],
                   '과학': [88, 89, 85, 82]})
dfs

      학생    수학  영어  과학
0   John  90.0  85  88
1  Alice  87.0  91  89
2    Bob  78.0  80  85
3  Emily  92.0  88  82

In [35]:
dfs2 = dfs.describe()
print(dfs2)

              수학         영어         과학
count   4.000000   4.000000   4.000000
mean   86.750000  86.000000  86.000000
std     6.184658   4.690416   3.162278
min    78.000000  80.000000  82.000000
25%    84.750000  83.750000  84.250000
50%    88.500000  86.500000  86.500000
75%    90.500000  88.750000  88.250000
max    92.000000  91.000000  89.000000

In [36]:
res = dfs[dfs['수학']==dfs['수학'].max()]

In [37]:
res2 = dfs[dfs['수학'] >= 90]
print(res2)

      학생    수학  영어  과학
0   John  90.0  85  88
3  Emily  92.0  88  82

In [38]:
dfb = pd.read_excel('BoxOffice.xlsx')

In [40]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

In [42]:
value_counts = dfb['대표국적'].value_counts()
value_counts

대표국적
한국    116
미국     82
일본      1
영국      1
Name: count, dtype: int64

In [43]:
England = dfb['영국']
print(England)

KeyError: '영국'

In [44]:
dfb2 = dfb.groupby('대표국적').min
print(dfb2)

<bound method GroupBy.min of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7936c8dd19f0>>